main {
    padding-block: 100px;
    margin-top: 80px;
}

.main-nav {
    justify-content: space-between;
    padding: 12px 0;
}

.nav-links ul {
    gap: 20px;
}

.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    color: #577592;
}

.hover-link:active {
    color: red;
}

.search-button {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: #2294ed;
    color: white;
    cursor: pointer;
}

.search-button:hover {
    background-color: #1d69a3;
}

.cards-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    transition: 0.3s ease;
}

.card:hover {
    box-shadow: 1px 1px 8px #d4ecff;
    transform: translateY(-2px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    margin-block: 12px;
}